{% import "Walcer::PageDesign.Macros.LayoutContainer" as LayoutContainer %}

<script type="x/template" id="vue-basket-totals">
    <!-- BASKET TOTALS -->
    <div class="cmp cmp-totals">
        <h3>{{ trans("Walcer::Template.basketSum") }}</h3>
        <div>
            <dl>
                {{ LayoutContainer.show("Walcer::BasketTotals.BeforeItemSum") }}
                <dt v-if="showProperty( 'basket.value_of_items_net' )">
                    {{ trans("Walcer::Template.basketValue") }} ({{ trans("Walcer::Template.basketNet") }})
                </dt><!--
                --><dd v-if="showProperty( 'basket.value_of_items_net' )">
                    ${ basket.itemSumNet | currency }
                </dd>

                <dt v-if="showProperty( 'basket.value_of_items_gross' )">
                    <strong>{{ trans("Walcer::Template.basketValue") }} ({{ trans("Walcer::Template.basketGross") }})</strong>
                </dt><!--
                --><dd v-if="showProperty( 'basket.value_of_items_gross' )">
                    <strong>${ basket.itemSum | currency  }</strong>
                </dd>
                {{ LayoutContainer.show("Walcer::BasketTotals.AfterItemSum") }}

                {{ LayoutContainer.show("Walcer::BasketTotals.BeforeShippingCosts") }}
                <dt v-if="showProperty( 'basket.shipping_costs_net' )">
                    {{ trans("Walcer::Template.itemShippingCosts") }} ({{ trans("Walcer::Template.basketNet") }})
                </dt><!--
                --><dd v-if="showProperty( 'basket.shipping_costs_net' )">
                    ${ basket.shippingAmountNet | currency }
                </dd>

                <dt v-if="showProperty( 'basket.shipping_costs_gross' )">
                    <strong>{{ trans("Walcer::Template.itemShippingCosts") }} ({{ trans("Walcer::Template.basketGross") }})</strong>
                </dt><!--
                --><dd v-if="showProperty( 'basket.shipping_costs_gross' )">
                    <strong>${ basket.shippingAmount | currency }</strong>
                </dd>
                {{ LayoutContainer.show("Walcer::BasketTotals.AfterShippingCosts") }}

                <hr>

                {{ LayoutContainer.show("Walcer::BasketTotals.BeforeTotalSum") }}
                <dt v-if="showProperty( 'basket.order_total_net' )">
                    {{ trans("Walcer::Template.basketTotalSum") }} ({{ trans("Walcer::Template.basketNet") }})
                </dt><!--
                --><dd v-if="showProperty( 'basket.order_total_net' )">
                    ${ basket.basketAmountNet | currency }
                </dd>

                <dt v-show="basket.couponCode">
                    <strong>{{ trans("Walcer::Template.basketCoupon") }}</strong>
                </dt><!--
                --><dd v-show="basket.couponCode">
                    <strong>${ basket.couponDiscount | currency }</strong>
                </dd>

                {{ LayoutContainer.show("Walcer::BasketTotals.BeforeVat") }}
                <dt v-if="showProperty( 'basket.vat' )">
                    {{ trans("Walcer::Template.basketVAT") }}
                </dt><!--
                --><dd v-if="showProperty( 'basket.vat' )">
                    ${ basket.itemSum - basket.itemSumNet | currency }
                </dd>
                {{ LayoutContainer.show("Walcer::BasketTotals.AfterVat") }}

                <hr v-if="showProperty( 'basket.vat' )">

                <dt v-if="showProperty( 'basket.order_total_gross' )">
                    <strong>{{ trans("Walcer::Template.basketTotalSum") }} ({{ trans("Walcer::Template.basketGross") }})</strong>
                </dt><!--
                --><dd v-if="showProperty( 'basket.order_total_gross' )">
                    <strong>${ basket.basketAmount | currency }</strong>
                </dd>
                {{ LayoutContainer.show("Walcer::BasketTotals.AfterTotalSum") }}
            </dl>
        </div>
    </div>
    <!-- ./BASKET TOTALS -->
</script>
