{% set decimalCount = config("Walcer.item.storeSpecial") %}
{% set variationShowType    = config("Walcer.item.variation_show_type") %}
{% set configItemName = config("Walcer.item.name") %}
{% set loadingAnimationType = config("Walcer.item.loading_animation_type") %}

{{ component( "Walcer::Basket.Components.AddToBasket" ) }}
{{ component( "Walcer::ItemList.Components.CategoryItem" ) }}
{{ component( "Walcer::ItemList.Components.CategoryImageCarousel" ) }}
{{ component( "Walcer::ItemList.Components.ItemLazyImg" ) }}
{{ component( "Walcer::ItemList.Components.ItemStoreSpecial" ) }}

<resource name="isLoading" :data="false"></resource>

<script type="x/template" id="vue-item-list">

    {% if loadingAnimationType != "blur" %}
        <div class="loading-animation-frame col-xs-12 col-lg-12" v-show="isLoading">

            {% if loadingAnimationType == "bars" %}
                {% include "Walcer::ItemList.Partials.LoadingAnimationBars" %}

            {% elseif loadingAnimationType == "spinner" %}
                {% include "Walcer::ItemList.Partials.LoadingAnimationSpinner" %}

            {% endif %}

        </div>
    {% endif %}

    <ul class="product-list row grid{% if loadingAnimationType == "blur" %} blur-effect{% endif %}"
        {% if loadingAnimationType != "blur" %}v-show="!isLoading"{% endif %} v-bind:class="{ 'loading': isLoading }">
        <category-item v-for="itemData in itemList.documents" :item-data="itemData.data"
                       decimal-count="{{ decimalCount }}" image-url-accessor="urlMiddle"></category-item>

    </ul>
</script>
